# Your Discord webhook's URL
WEBHOOK_URL=""

# Your discord ID. Enable developer mode in Discord and right-click your profile picture to copy it.
YOUR_DISCORD_ID="111111111111111111"

# The URL of the Swappa page to check
PRODUCT_PAGE="https://swappa.com/listings/oneplus-12"

# Leave this blank if you don't know what you're doing
USER_AGENT=""

# The highest price you'd want to be notified of
MAX_PRICE="500"

# How often to check the Swappa page for updates
DELAY_MS="5000"